.video-wrap{
    max-width: 1080px;
}

.header__title{
    font-weight: 700;
}
.header__tagline {
    font-weight: 700;
    margin-top: 0px;
    font-size: 1.9em;
    color:#6171b3;
}

.portfolio-item__image{
    img {margin: auto}
}